﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/vendor.min.css" />
    <title>Sports Store</title>
</head>
<body>
    <div class="navbar bg-light"s role="navigation">
        <a class="navbar-brand" href="#">Sport Store</a>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            Something usefull will be here
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
    </div>
    <script src="~/vendor.min.js"></script>
</body>
</html>
