﻿@model Product

<div class="card card-subtitle m-1 p-1">
    <div class="bg-faded p-1">
        <h3>
            @Model.Name
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>
                    @Model.Price.ToString("C")
                </small>
            </span>
        </h3>
    </div>

    <span class="card-text p-1">@Model.Description</span>
</div>